{% extends 'schedule/base.html' %}

{% block content %}
<center><div class = col-md-4>

            <div class = "card mt-150">
                <div class = 'card-body'>

                    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> Username</th>
      <th scope="col">Email Address</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Admin</th>
      <td>user</td>
      <td>user@pfsd.com</td>
      <td>admin</td>
    </tr>

  </tbody>
</table>


                </div>

            </div>

        </div>
</center>
{% endblock %}
