{% extends 'schedule/base.html' %}

{% block content %}

<div class="container">
    <div class = "row">
            <div class = col-lg-4>

            <div class = "mt-150 shadow">
                  <div class = "alert alert-success bg-nav">
            <h2 class = 'text-light' style = 'font-size:25px'>Add to Schedule</h2>

                </div>
                <div class = 'card-body'>
                    <form action = "/add/" method = 'POST'>
                         {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class = "btn btn-primary btn-block-btn-lg"  value = "ADD" >
                 </form>

                </div>

            </div>

        </div>
        <div class = "col-lg-1"></div>
        <div class = "col-lg-7">

            <div class="mt-150">
                <div class = "card">
                     <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Day</th>
                          <th scope="col">Date</th>
                          <th scope="col">Subject</th>
                          <th scope="col">Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>           <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>           <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>           <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>           <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>           <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>           <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </div>

            </div>


            </div>

  </div>
</div>
{% endblock %}
